[Unit]
Description=Rsyslog config updater
Before=xyz.openbmc_project.Software.Sync.service

[Service]
ExecStart=/usr/bin/env phosphor-rsyslog-conf
SyslogIdentifier=phosphor-rsyslog-conf
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
