# This file is a part of OpenBMC systemd
[Unit]
Description=Start Host%i
Documentation=https://github.com/openbmc/docs/blob/master/openbmc-systemd.md
Wants={SYSTEMD_DEFAULT_TARGET}
After={SYSTEMD_DEFAULT_TARGET}
Wants=mapper-wait@-org-openbmc-control-chassis%i.service
After=mapper-wait@-org-openbmc-control-chassis%i.service
Conflicts=obmc-host-stop@%i.target
RefuseManualStop=yes
OnFailure=obmc-host-quiesce@%i.target
OnFailureJobMode=flush
