[Unit]
Description=Host %i Warm Reboot
Wants=multi-user.target
After=multi-user.target
RefuseManualStop=yes
Conflicts=obmc-chassis-poweroff@%i.target
