[Unit]
Description=First Boot Expire Password
After=obmc-mapper.target

[Service]
ExecStart=/usr/bin/passwd --expire root
ExecStart=/bin/systemctl disable first-boot-expire-password.service
SyslogIdentifier=first-boot-expire-password
Type=oneshot
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
