[Unit]
Description=Phosphor Fan Presence Tach Daemon
After=mapper-wait@-xyz-openbmc_project-inventory.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/env phosphor-fan-presence-tach
SyslogIdentifier=phosphor-fan-presence-tach

[Install]
WantedBy=multi-user.target
