[Unit]
Description=Phosphor DBUS Browser
Before=xyz.openbmc_project.Software.Sync.service

[Service]
Restart=always
ExecStart=/usr/bin/env rest-dbus
SyslogIdentifier=rest-dbus
Environment="PYTHONUNBUFFERED=1"
