[Unit]
Description=Phosphor Inband IPMI
# TODO openbmc/openbmc#2059 - The wants/after below should be based on providers
Wants=mapper-wait@-xyz-openbmc_project-control-host0-boot.service
After=mapper-wait@-xyz-openbmc_project-control-host0-boot.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-boot-one_time.service
After=mapper-wait@-xyz-openbmc_project-control-host0-boot-one_time.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-power_restore_policy.service
After=mapper-wait@-xyz-openbmc_project-control-host0-power_restore_policy.service
Wants=mapper-wait@-xyz-openbmc_project-control-host0-restriction_mode.service
After=mapper-wait@-xyz-openbmc_project-control-host0-restriction_mode.service
Wants=clear-once.service
After=clear-once.service
After=org.openbmc.HostIpmi.service

[Service]
Restart=always
ExecStartPost=+chmod 0775 /run/private/ipmi /var/lib/private/ipmi
# ExecStart=/bin/sh -c "strace -fv -s2048 -o /run/ipmi/ipmid-$(readlink /proc/self).log /usr/bin/ipmid"
ExecStart=/usr/bin/ipmid
SyslogIdentifier=ipmid
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
PrivateTmp = yes
DynamicUser = yes
Type=dbus
Group=ipmi
SupplementaryGroups = ipmi
UMask=0007
BusName=xyz.openbmc_project.Control.Host
CapabilityBoundingSet =
AmbientCapabilities =

[Install]
WantedBy=multi-user.target
Alias=xyz.openbmc_project.Control.Host.service
