[Unit]
Description=phosphor ECC dbus
Wants=phosphor-dbus-monitor.service
After=phosphor-dbus-monitor.service

[Service]
ExecStart=/usr/bin/ecc_main
Restart=always
SyslogIdentifier=phosphor-ecc
Type=dbus
BusName=xyz.openbmc_project.memory.ECC

[Install]
WantedBy=multi-user.target
